:root {
    --header-logo-color: #2196F3;
    --header-studio-color: #000000;
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --second-text-color: #757575;
    --third-text-color:  #2196F3;
    --first-button-color: #FFFFFF;
    --second-button-color: #212121;
    --header-second-color: #757575;
    --header-button-color: #212121;
    --footer-text-color: #FFFFFF;
    --first-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --hero-background-color: #2F303A;
    --title-background-color:#F5F4FA;
    --header-background-color: #FFFFFF;
    --logo-text-color: #2196F3;
    --footer-background-color: #2F303A;

}
body{
font-family:"Roboto","Raleway", sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*--------HEADER*------*/
.header-logo {
    font-family: inherit;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-logo-color)
}
.header-logo-title {
    font-family: inherit;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-studio-color)
}
.page-header{
    background:var(--header-background-color);
}

.header-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--header-button-color)
}
.header-list-item:hover,
.header-list-item:focus {
    color: var(--accent-color);
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-second-color);
}
.header-tel:hover,
.header-tel:focus{
    color: var(--accent-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-second-color);
}
.header-mail:hover,
.header-mail:focus{
    color: var(--accent-color);
}
/*-------HERO------*/
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color)
}
.hero-title{
    background-color: var(--hero-background-color);
}
.main-btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}
.main-btn{ 
    cursor: pointer;
}
.main-btn {
   background-color: var(--accent-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
/*--------Quality-------*/
.quality-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
}
.quality-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color)
}
.about-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-title-color)
}
/*--------------TEAM------------------*/
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color)
}
.team-name-text { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.position-item-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color)
}
.team{
    background: var(--title-background-color)
}
/*--------------CONTACTS-------------*/
.contacts-link-title{
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-text-color)
}
.studio-title{
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-text-color)
}
.address-contacts-link{
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color)
}
.contacts-link{
    font-family: inherit;
    font-style: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color)
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}
.contacts{
    background-color: var(--footer-background-color);
}



/*---------Portfolio----------*/
.main-link-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-button-color);
    }
    .main-link-btn{
    cursor: pointer;
}
.main-link-btn {
    background-color:var(--title-background-color)
}
.main-link-btn:hover,
.main-link-btn:focus{
    background-color: var(--accent-color);
}
.portfolio-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--second-title-color)
}
.portfolio-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color)
}